* {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  background: white;

}

/* Box Model Hack*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

header{
  height: 100px;
  width: 100%;
  clear: both;
}

.memoryGame{

  height: 640px;
  width: 100%;
  float: left;
}

topOfgame{
  border: 2px solid black;
  height: 220px;
  width: 100%;


}

.btmOfgame{
  border: 2px solid black;
  height: 220px;
  width: 100%;

}

